.comeco{
color: palevioletred;
font-family:amoria;
height: 20vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: radial-gradient(circle at top,#3c00bf,#050510);
border-radius: 60px;
border: 1px solid violet;
padding: 20px;
margin: 20px;

}
body{
    background-color: indigo;
    color: aquamarine;
    display:  flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    cursor: grab;

}

input{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;

}
.palavra-container span{
    font-size: 2rem;
    margin: 0 10px;
    border-bottom:purple;

}
#btn-tentar{
    padding: 10px 20px;
    cursor: wait;

    transition: 0.3s;

}
#btn-tentar:hover{
    background-color: magenta;
    color: white;
 
}

#entrada-Letra:focus{
    border: 2px solid cyan;
    outline: none;

}




